
.middleColor{
    height: 50px;
    margin-bottom: 20px;
}
.cards{
    border-radius: 15px;
    background: #e5e5e5;
    margin: 20px;
    padding: 20px;
    border: 1px solid #43b049;
    box-shadow: 10px 10px 2px #4cd47c;
    height: 280px;
}
.top__name{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}
.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.productToast{
    margin: 2px 5px;
    background-color: #43b049;
    padding: 1.5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

strike{
    margin-left: 5px;
}
/* #dcf0ef
#43b049
#4cd47c */

.todo_top{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.todo_input{
    margin-right: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #4cd47c;
    padding: 0px 5px;
    font-size: 18px;
}

.task_manager{
    margin: 45px 0px 0px 50px;
}   
.tasks_parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tasks{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.singleTask{
    background-color: #4cd47c;
    margin: 5px;
    padding: 6px;
    border-radius: 6px;
    width: 300px;
    font-size: 18px;
    font-weight: 700;
}

.markbtn{
    padding: 0px 10px;
    height: 40px;
    background-color: #43b049;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
}